$gs : 0.9; // Global Scale

$hover-opacity	: 0.5;
//$theme-color		: #2E4200;
$theme-color    : rgb(30, 40, 0);
//$theme-color: #7A0201;
//$theme-color: rgb(86, 1, 1);
//$theme-color    : #0B0B0B;
//$bg-color       : #191919;
//$bg-color       : #2E4200;
$bg-color    : #0F0F0F;

$caption-color: white;
$caption-size-L: 140% * $gs;
$caption-size-M: 130% * $gs;

$text-color: #AAAAAA;
//$note-color: rgb(215, 37, 0);
$note-color: rgb(235, 97, 1);
$text-size: 90% * $gs;

//$base-font      : "Hannari";
//$base-font      : "Meiryo";
$base-font      : "Yu Mincho", "YuMincho", "HiraMinProN-W3", "MS PMincho", "MS Mincho", "serif";

//$caption-font      : "Hannari";
$caption-font      : "Yu Mincho", "YuMincho", "HiraMinProN-W3", "MS PMincho", "MS Mincho", "serif";

@import "compass";
@import "compass/utilities";

//------------------------------------------
// common css
//------------------------------------------
@import "compass/reset";

html { height: 100%; }
body {
  height: 100%;
  background: $bg-color;
}

//@include font-face("Hannari", font-files("Hannari/Hannari.woff"), "Hannari/Hannari.eot");

.clearfix {
	@include pie-clearfix();
}

#fadein {
  visibility: hidden;
}

hr.style1 {
  border: 0;
  height: 1px;
  background: $theme-color;
  //background-image: linear-gradient(to right, #C0CCA9, $theme-color, #C0CCA9);
  //background-image: linear-gradient(to right, $bg-color, $theme-color, $bg-color);
  background-image: linear-gradient(to right, $bg-color, $text-color, $bg-color);
}

//------------------------------------------
// mixin utilities
//------------------------------------------
@mixin hover-navi($bg-url, $enable-animation:true) {
	background: url($bg-url) no-repeat;
	@if $enable-animation {
		@include transition-property(opacity);
		@include transition-duration(0.5s);
		&:hover { @include opacity($hover-opacity); }
	}
}

@mixin h-align-center {
  width: 720px;
  margin: 0 auto;
}

@mixin seo-image($width, $height, $image-url) {
  width: $width;
  height: $height;
  background: url($image-url) no-repeat;
  text-indent:-9999px;
}

@mixin emboss-box($border:0.1, $shadow:0.05, $highlight:0.5) {
  border: 1px solid rgba(0, 0, 0, $border);
  @include box-shadow(rgba(0, 0, 0, $shadow) -1px 1px 0, rgba(255, 255, 255, $highlight) -1px 1px 0 inset);
}

@mixin slideshow($name) {
	//width: 100%;
	height: 304px;
	background: url("../img/"+$name+"/slide/1.jpg") no-repeat;
	@include border-radius(3px);
}