@import "base";

//------------------------------------------------------------------
.content {
	//color: #292929;
	//color: white;
	color: $text-color;
	margin: 0 0 20px 0;

	#slide {
		@include slideshow("about");
	}
	
	.right {
		text-align: right;
	}

	.left {
		text-align: left;
	}

	h2 {
		//color: #000000;
		color: $caption-color;
		font-family: $caption-font;
		font-size: $caption-size-M;
		margin: 0 0 20px * $gs 0;
	}

	p {
		font-family: $base-font;
		font-size: $text-size;
		line-height: 160% * $gs;
		margin-top: 0.75em * $gs;
		&:first-of-type {
			margin-top: 0;
		}
	}

	img {
		@include border-radius(3px);
	}

}
