@import "base";

//------------------------------------------------------------------

#slide {
	@include slideshow("access");
}

#map_canvas {
	width: 100%;
	height: 200px  * $gs;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.note {
	//color: $note-color;
	color: $text-color;
	font-size: $text-size;
}

.content {
	font-family: $base-font;
	font-size: $text-size;
	margin-bottom: 4em * $gs;
	color: $text-color;

	h2 {
		font-family: $caption-font;
		color: $caption-color;
		font-size: $caption-size-L;
	}

	h3 {
		font-family: $caption-font;
		color: $caption-color;
		font-size: $caption-size-M;
	}

	p {
		line-height: 130% * $gs;
	}

}

ul.images {
	display: table;
	table-layout: fixed;
	width: 100% * $gs;

	li {
		display: table-cell;
		text-align: center;
	}
}