@import "base";

//------------------------------------------------------------------
// Header
//------------------------------------------------------------------
#header {
	background-color: $theme-color;
	margin: 0 0 4px 0;
	border-bottom: solid 0.5px #3A3A3A;

	#h-content {
		@include h-align-center;
		height: 52px;

		// Logo
		h1 {
			@include seo-image(146px, 52px, "../img/header/logo.png");
			float: left;
		}
	}
}



//------------------------------------------------------------------
// Footer
//------------------------------------------------------------------
#footer {
	background-color: $bg-color;
	margin: 4px 0 15px 0;
	//border-top: solid 0.5px #3A3A3A;

	#f-content {
		@include h-align-center;
		color: $text-color;

		#f-logo {
			@include seo-image(92px, 16px, "../img/footer/logo.png");
			float: left;
		}

		#f-copyright {
			float: left;
			margin: 5px 0 0 20px;
			font-family: $base-font;
			font-size: 60%;
		}

		#f-tel {
			float: right;
			margin: 3px 0 0 0;
			font-family: $base-font;
			font-size: 80%;
		}
	}
}
