@import "base";

//------------------------------------------------------------------

.content {
	color: $text-color;
	margin-bottom: 4em * $gs;
	font-family: $base-font;
	font-size: $text-size;
	line-height: 160% * $gs;

	#slide {
		@include slideshow("menu");
	}

	h1 {
		font-family: $caption-font;
		color: $caption-color;
		font-size: $caption-size-L;
	}

	h2 {
		font-family: $caption-font;
		color: $caption-color;
		font-size: $caption-size-M;
		margin-left: 10px * $gs;
	}

	.header-comment {
		//color: #B21E23;
		font-size: $text-size;
		text-align: right;
	}

	.item-header {
		color: $text-color;
	}

	.menu-container {
		margin-left: 20px * $gs;
	}

	.align-right {
		text-align: right;
	}

	.note {
		color: $note-color;
		font-size: $text-size;
	}
	
	ul.images {
		text-align: right;
		list-style: none;
		li {
			float: left;
			//&:first-of-type { margin-left: 10px; }
			margin-right: 0.3em * $gs;
			&:last-of-type { margin-right: 0; }
			margin-bottom: expression( this.parentNode.children.item(this.parentNode.children.length-1) == this ? '0':'0.5em');
		}
	}
}
