@import "base";

//------------------------------------------------------------------

.navi {
	margin: 20px * $gs 0 30px * $gs 0;
}

.dropmenu {
	margin-left: 15px * $gs;
	list-style: none;
	position: relative;
	
	li {
		float: left;
		margin-right: 80px  * $gs;
		&:last-of-type { margin-right: 0; }
		margin-right: expression( this.parentNode.children.item(this.parentNode.children.length-1) == this ? '0':'65px');

		a {
		  display: block;
		  line-height: 1  * $gs;
		}

		ul {
			position: absolute;
			visibility: hidden;
			@include transition-property(opacity);
			@include transition-duration(0.5s);
			opacity: 0;
		}
		
		&:hover {
			& > div {
				@include opacity($hover-opacity);
			}
			ul {
				list-style: none;
				position: absolute;
				visibility: visible;
				left: 140px;
				width: 100%;
				margin: 0;
				padding: 0;
				opacity: 1;
				li {
					float: left;
					position: static;
					margin-right: 30px;
					margin-top: 5px;
				} // li
			} // ul
		} // &:hover

	} // li
}

.relative {
	position: relative;
}

//----------------------------------------------------

@mixin navi-common($height: 32px * $gs) {
	height: $height;
	text-indent:-9999px;
}

.navi-item0 {
	width: 100px;
	@include navi-common();
	@include hover-navi("../img/navi/about.png");
}
.navi-item1 {
	width: 50px;
	@include navi-common();
	@include hover-navi("../img/navi/menu.png");
}
.navi-item2 {
	width: 82px;
	@include navi-common();
	@include hover-navi("../img/navi/access.png");
}
.navi-item3 {
	width: 80px;
	@include navi-common();
	@include hover-navi("../img/navi/wedding.png");
}
.navi-item4 {
	width: 80px;
	@include navi-common();
	@include hover-navi("../img/navi/shop.png");
}
