@import "base";

//------------------------------------------------------------------

.content {
	color: $caption-color;
	margin: 0 0 50px 0;
	font-family: $base-font;
	line-height: 120%;

	// Slide
	#slide {
		height: 304px;
		//background: url("../img/0.png") no-repeat;
		//@include border-radius(3px);
	}
	
	.thumb {
		width: 180px;
	}
	
	.name {
		width: 120px;
	}
	
	.desc {
		width: 300px;
	}
	
	.price {
		width: 100px;
	}
	
	.count {
		width: 100px;
	}
	
	.table-cell {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	
	.table-cell-right {
		display: table-cell;
		vertical-align: middle;
		text-align: right;
	}
	
	.table-cell-left {
		display: table-cell;
		vertical-align: middle;
		text-align: left;
	}

    .font-l {
		font-size: 100%;
    }
   
    .font-s {
	   	font-size: 90%;
	   	color: $text-color;
    }
    
    .align-right {
   		text-align: right;
    }
	
	hr.style2 {
		border: 0;
		height: 1px;
		background: #C0CCA9;
	}

}
