@import "base";

//------------------------------------------------------------------

.content {
	margin: 0 0 50px * $gs 0;
	color: $text-color;
}

#slide {
	@include slideshow("top");
}

.info {
	margin-top: 35px * $gs;
}

p {
	font-family: $base-font;
	font-size: $text-size;
	line-height: 150% * $gs;
	margin-top: 20px * $gs;
	&:first-of-type {
		margin-top: 0;
	}
}