@import "base";

//------------------------------------------------------------------

.content {
	color: $text-color;
	margin: 0 0 50px 0;
	font-family: $base-font;
	font-size: $text-size;

	// Slide
	#slide {
		@include slideshow("wedding");
	}

	h2 {
		font-family: $caption-font;
		color: $caption-color;
		font-size: $caption-size-L;
	}

	p {
		line-height: 160% * $gs;
	}
}
