= Haml::Engine.new( File.read( "#{__dir__}/common/base.haml" ) ).render

%link{rel: "stylesheet", href: "css/about.css"}
%script{src: "js/slide-about.js"}

/------------------------------------------------------------
/ Header
/------------------------------------------------------------
= Haml::Engine.new( File.read( "#{__dir__}/common/header.haml" ) ).render

/------------------------------------------------------------
/ Content
/------------------------------------------------------------
.content
  .container
    / Slide
    / #slide.easy_slides_container
    
    .row
      = Haml::Engine.new( File.read( "#{__dir__}/common/navi.haml" ) ).render

      / Slide
      .row.row_margin2
        #slide.easy_slides_container

    /------------------------------------------------------------
    / 錦水亭
    /------------------------------------------------------------
    .row.row_margin1
      %h2
        錦水亭
      .col.span_9
        %p
          創業明治１４年（１８８１年）の老舗。
        %p
          京都近郊の長岡に位置し、「錦水亭」の名称は山階宮の命名によります。
        %p
          八条宮によって造成された、八条ケ池を取り入れての大小の数寄屋づくりのお座敷が点在し、老松　つつじ　さくら　におおわれた自然の大庭園と共にその景観はすばらしい限りです。
      .col.span_7.right
        %img{src: "img/about/1.jpg", alt: "image 1"}
        
    /------------------------------------------------------------
    / たけのこを育む
    /------------------------------------------------------------
    .row.row_margin1
      %h2
        たけのこを育む
      .col.span_9
        %p
          質の良い「たけのこ」を収穫する為に、殆ど一年中、当地は藪の手入れを怠りません。
        %p
          五月中頃から根が強くなり、強い風にも耐えられるよう親竹の先を切り、成長を止めます。七月から八月にかけて草取りと施肥、そして秋にはこの地独得の栽培法である盛土作業をはじめます。藪一面にわらを敷きつめ、その上に土を盛ります。
        %p
          こうすることによって、土の層が年々厚くなり、やわらかさも一段と増してくるのです。「農家の奥座敷」と言われる位手入れがゆき届いています。
      .col.span_7.right
        %img{src: "img/about/2.jpg", alt: "image 2"}

    /------------------------------------------------------------
    / たけのこの朝掘
    /------------------------------------------------------------
    .row.row_margin1
      %h2
        たけのこの朝掘
      .col.span_9
        %p
          この様に精魂をかたむけた成果が３月から５月にかけて掘る「たけのこ」にあらわれます。
        %p
          しっとりと朝霧を含んだ土から、まるまると太り見るからに柔らかそうな「たけのこ」を掘り出した時は、今までの苦労をすっかり忘れさせてくれます。
        %p
          「たけのこ」は地中にある物を掘るので、前日にひび割れに印をつけ、翌朝太陽があがらないうちに掘り起こします。「堀り」と言う器具で「たけのこ」を傷つけない様に堀あげる技術は最低１０年の年月を経ないと一人前にはなれないと言われております。
      .col.span_7.right
        %img{src: "img/about/3.jpg", alt: "image 3"}

    /------------------------------------------------------------
    / たけのこ料理
    /------------------------------------------------------------
    .row.row_margin1
      %h2
        たけのこ料理
      .col.span_9
        %p
          朝堀した「たけのこ」の土が乾かないうちに手早く皮をむき、大釜で２時間余りゆがきます。
        %p
          さらに清水にさらしてあくぬきし、家伝の調理法に依って作りあげる「たけのこ料理」は日本一として広く全国に知れわたっております。
        %p
          たけのこ料理のコースは、朝堀の新鮮さを堪能して頂けるようなコースとなっております。
        %p
          木の芽あえ　お造り　若竹すまし汁　じきたけ　田楽　むしたけ　てんぷら　焼竹　酢の物　たけのこ飯　と、たけのこ一式で御献立が組まれています。
        %p
          歯にあたってサクッと割れるやわらかい香り豊かな「たけのこ」のお料理は、春の味覚の王者と申せましょう。
        %p
          是非日本一の錦水亭のたけのこ料理をご賞味ください。
      .col.span_7.right
        %img{src: "img/about/4.jpg", alt: "image 4"}
        %img{src: "img/about/5.jpg", alt: "image 5"}

/------------------------------------------------------------
/ Footer
/------------------------------------------------------------
= Haml::Engine.new( File.read( "#{__dir__}/common/footer.haml" ) ).render
