= Haml::Engine.new( File.read( "#{__dir__}/common/base.haml" ) ).render

%link{rel: "stylesheet", href: "css/access.css"}
%script{src: "js/slide-access.js"}

/ Google Map
%script{src: "https://maps.google.com/maps/api/js?key=AIzaSyBE6_MjFZOqZssBxOGXXJKp89O3A21GpxY&sensor=true" }
%script{src: "js/googlemap_custom.js" }
%body{onload: "initialize();"}

  /------------------------------------------------------------
  / Header
  /------------------------------------------------------------
  = Haml::Engine.new( File.read( "#{__dir__}/common/header.haml" ) ).render
  
  /------------------------------------------------------------
  / Content
  /------------------------------------------------------------
  .content
    .container
    
      / Navi
      .row
        = Haml::Engine.new( File.read( "#{__dir__}/common/navi.haml" ) ).render

      / Slide
      .row.row_margin4
        #slide.easy_slides_container

      / Content
      .row.row_margin3
        .row
          %h2 ごあんない
        .row.row_margin1
          %hr.style1

        .row
          .col.span_7
            .row.row_margin3
              .row.row_margin1
                %h3 電車
              .row.right.row_margin1
                .col.span_14.left 阪急京都線　長岡天神駅より　徒歩10分
                .col.span_2.right
                  %a{href: "https://goo.gl/maps/1BjYK", title: "阪急長岡天神駅からの徒歩ルートを表示します", target: "_blank"} 地図
              .row.right
                .col.span_14.left ＪＲ京都線　長岡京駅　より　徒歩17分
                .col.span_2.right
                  %a{href: "https://goo.gl/maps/3SEJj", title: "ＪＲ長岡京駅からの徒歩ルートを表示します", target: "_blank"} 地図
            .row
              .row.row_margin1
                %h3 お車
              .row.right.row_margin1
                .col.span_14.left 京都縦貫自動車道　長岡京I.Cより　2分
                .col.span_2.right
                  %a{href: "https://goo.gl/maps/dHJ6g", title: "長岡京Ｉ.Ｃからのお車ルートを表示します", target: "_blank"} 地図
              .row.note
                %p 八条ヶ池南側が入り口となります。敷地内に駐車場がございますのでお車にてお進み下さい。
          
          .col.span_1
            &nbsp;

          .col.span_8
            #map_canvas

      / Information
      .row.row_margin3
        .col.span_8
          .row
            %h2 営業情報
          .row.row_margin1
            %hr.style1
          .row.row_margin1
            .col.span_4 営業時間
            .col.span_6 11：30 ～ 21：00
            .col.span_6 (L.O 19：00)
          .row.row_margin1
            .col.span_4 &nbsp;
            .col.span_6 11：30 ～ 14：30
            .col.span_6 ランチタイム
          .row.row_margin1
            .col.span_4 定休日
            .col.span_12 水曜日
          .row.row_margin1
            .col.span_4 ＴＥＬ
            .col.span_12 075-951-5151
          .row.row_margin1
            .col.span_4 ＦＡＸ
            .col.span_12 075-951-2525
          .row
            〒605-0074 京都府長岡京市天神二丁目 15-15

        .col.span_1
          &nbsp;

        .col.span_7
          .row
            %h2 お部屋
          .row.row_margin1
            %hr.style1
          .row.row_margin1
            .col.span_5 総客室数
            .col.span_8.right ５０室
          .row.row_margin05
            .col.span_5 大広間
            .col.span_4.right １００帖
            .col.span_4.right １室
          .row.row_margin05
            .col.span_5 中広間
            .col.span_4.right ４０帖
            .col.span_4.right ２室
          .row.row_margin05
            .col.span_5 小広間
            .col.span_4.right ２４帖
            .col.span_4.right １室
          .row.row_margin05
            .col.span_9.right ２０帖
            .col.span_4.right １室
          .row.row_margin1
            .col.span_9.right １２帖
            .col.span_4.right １室
          .row.note ※椅子席は６０席までご用意できます。

      / Mini Photo
      .row
        %ul.images
          %li
            %a{href:"img/access/room/1.jpg", data:{lightbox:"room-set", title:"大広間"}}
              %img{src:"img/access/room/1.thumb.jpg", alt:""}
          %li
            %a{href:"img/access/room/2.jpg", data:{lightbox:"room-set", title:"大広間"}}
              %img{src:"img/access/room/2.thumb.jpg", alt:""}
          %li
            %a{href:"img/access/room/3.jpg", data:{lightbox:"room-set", title:"大広間"}}
              %img{src:"img/access/room/3.thumb.jpg", alt:""}
          %li
            %a{href:"img/access/room/4.jpg", data:{lightbox:"room-set", title:"大広間"}}
              %img{src:"img/access/room/4.thumb.jpg", alt:""}
          %li
            %a{href:"img/access/room/5.jpg", data:{lightbox:"room-set", title:"大広間"}}
              %img{src:"img/access/room/5.thumb.jpg", alt:""}

  /------------------------------------------------------------
  / Footer
  /------------------------------------------------------------
  = Haml::Engine.new( File.read( "#{__dir__}/common/footer.haml" ) ).render
