= Haml::Engine.new( File.read( "#{__dir__}/common/base.haml" ) ).render

%link{rel: "stylesheet", href: "css/top.css"}
%script{src: "js/slide-top.js"}
/------------------------------------------------------------
/ Header
/------------------------------------------------------------
= Haml::Engine.new( File.read( "#{__dir__}/common/header.haml" ) ).render

/------------------------------------------------------------
/ Content
/------------------------------------------------------------
.content
  .container

    / Navi
    .row
      = Haml::Engine.new( File.read( "#{__dir__}/common/navi.haml" ) ).render

    / Silider
    .row
      #slide.easy_slides_container

    / Information
    .row.info
      %p
        京都府長岡京市の錦水亭でございます。
      %p
        日本一のたけのこ料理の店として全国に親しまれております。今の季節でしか味わえない、京都の柔らかくて美味しいたけのこを会席料理で是非お召し上がり下さい。
      %p
        たけのこ料理は五月末まで予定しております。内容についてはこちらをご覧下さい。

/------------------------------------------------------------
/ Footer
/------------------------------------------------------------
= Haml::Engine.new( File.read( "#{__dir__}/common/footer.haml" ) ).render
