= Haml::Engine.new( File.read( "#{__dir__}/common/base.haml" ) ).render

%link{rel: "stylesheet", href: "css/shop.css"}
%script{src: "js/slide-shop.js"}

/------------------------------------------------------------
/ Header
/------------------------------------------------------------
= Haml::Engine.new( File.read( "#{__dir__}/common/header.haml" ) ).render

/------------------------------------------------------------
/ Content
/------------------------------------------------------------
.content
  .container
    .row
      = Haml::Engine.new( File.read( "#{__dir__}/common/navi.haml" ) ).render

    / Slide
    .row.row_margin4
      #slide.easy_slides_container

    .row.row_margin1
      .table-cell-left.thumb
        %img{src:"img/shop/1.jpg", alt:""}
      .table-cell-left.name.font-l
        竹の香
      .table-cell-left.desc.font-s
        『たけのこ』<br>
        <br>
        内容量　140g 1本<br>
        総重量 350g<br>
        箱サイズ　幅10x10cm・高さ20cm
      .table-cell.price \800
      .table-cell.count 購入数■■
      
    .row.row_margin1
      %hr.style2

    .row.row_margin1
      .table-cell-left.thumb
        %img{src:"img/shop/2.jpg", alt:""}
      .table-cell-left.name.font-l
        竹づくし
      .table-cell-left.desc.font-s
        『たけのこ・こんぶ・しいたけ』<br>
        <br>
        内容量　140g 1本<br>
        総重量 350g<br>
        箱サイズ 幅10x10cm　高さ20cm
      .table-cell.price \800
      .table-cell.count 購入数■■

    .row.row_margin1
      %hr.style2
      
    .row.row_margin1
      .table-cell-left.thumb
        %img{src:"img/shop/3.jpg", alt:""}
      .table-cell-left.name.font-l
        竹じまん
      .table-cell-left.desc.font-s
        『たけのこ・さんしょう・きくらげ』<br>
        <br>
        内容量　140g 1本<br>
        総重量 350g<br>
        箱サイズ 幅10x10cm　高さ20cm
      .table-cell.price \800
      .table-cell.count 購入数■■
   
    .row.row_margin1
      %hr.style2

    .row.row_margin1
      .table-cell-left.thumb
        %img{src:"img/shop/4.jpg", alt:""}
      .table-cell-left.name.font-l
        竹の香<br>
        ２本セット
      .table-cell-left.desc.font-s
        『たけのこ』<br>
        <br>
        内容量　140g 2本
        総重量 800g<br>
        箱サイズ 幅20x10cm　高さ20cm
      .table-cell.price \1,700
      .table-cell.count 購入数■■

/------------------------------------------------------------
/ Footer
/------------------------------------------------------------
= Haml::Engine.new( File.read( "#{__dir__}/common/footer.haml" ) ).render
