= Haml::Engine.new( File.read( "#{__dir__}/common/base.haml" ) ).render

%link{rel: "stylesheet", href: "css/wedding.css"}
%script{src: "js/slide-wedding.js"}

/------------------------------------------------------------
/ Header
/------------------------------------------------------------
= Haml::Engine.new( File.read( "#{__dir__}/common/header.haml" ) ).render

/------------------------------------------------------------
/ Content
/------------------------------------------------------------
.content
  .container
    / Slide
    / #slide.easy_slides_container
    
    .row
      = Haml::Engine.new( File.read( "#{__dir__}/common/navi.haml" ) ).render

    / Slide
    .row.row_margin4
      #slide.easy_slides_container

    /------------------------------------------------------------
    / 長岡天満宮での結婚式
    /------------------------------------------------------------
    .row
      %h2 長岡天満宮での結婚式
    .row.row_margin1
      %hr.style1
    .row.row_margin4
      %p
        長岡天満宮では、お二人のすばらしい門出のため、結婚式の御予約も承っております。
      %p
        華燭の成典は荘厳華麗な長岡天満宮で。
      %p
        ご本殿におきまして、古式ゆかしく荘厳な挙式を行っております。合わせて４０名様まで参列していただけます。又冷暖房が完備しておりますので、季節に関わらず気持ちよくご参列いただけます。

    /------------------------------------------------------------
    / 錦水亭での結婚披露宴
    /------------------------------------------------------------
    .row
      %h2 錦水亭での結婚披露宴
    .row.row_margin1
      %hr.style1
    .row.row_margin4
      %p
        長岡天満宮での御結婚式の後の披露宴、その他ご慶事にはぜひ、錦水亭を御活用ください。
      %p
        最適の環境とお料理にてお待ち申し上げております。

/------------------------------------------------------------
/ Footer
/------------------------------------------------------------
= Haml::Engine.new( File.read( "#{__dir__}/common/footer.haml" ) ).render
