html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #0F0F0F;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#fadein {
  visibility: hidden;
}

hr.style1 {
  border: 0;
  height: 1px;
  background: #1e2800;
  background-image: linear-gradient(to right, #0f0f0f, #aaaaaa, #0f0f0f);
}

#slide {
  height: 304px;
  background: url("../img/access/slide/1.jpg") no-repeat;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#map_canvas {
  width: 100%;
  height: 180px;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.note {
  color: #AAAAAA;
  font-size: 81%;
}

.content {
  font-family: "Yu Mincho", "YuMincho", "HiraMinProN-W3", "MS PMincho", "MS Mincho", "serif";
  font-size: 81%;
  margin-bottom: 3.6em;
  color: #AAAAAA;
}
.content h2 {
  font-family: "Yu Mincho", "YuMincho", "HiraMinProN-W3", "MS PMincho", "MS Mincho", "serif";
  color: white;
  font-size: 126%;
}
.content h3 {
  font-family: "Yu Mincho", "YuMincho", "HiraMinProN-W3", "MS PMincho", "MS Mincho", "serif";
  color: white;
  font-size: 117%;
}
.content p {
  line-height: 117%;
}

ul.images {
  display: table;
  table-layout: fixed;
  width: 90%;
}
ul.images li {
  display: table-cell;
  text-align: center;
}
