html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #0F0F0F;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#fadein {
  visibility: hidden;
}

hr.style1 {
  border: 0;
  height: 1px;
  background: #1e2800;
  background-image: linear-gradient(to right, #0f0f0f, #aaaaaa, #0f0f0f);
}

#header {
  background-color: #1e2800;
  margin: 0 0 4px 0;
  border-bottom: solid 0.5px #3A3A3A;
}
#header #h-content {
  width: 720px;
  margin: 0 auto;
  height: 52px;
}
#header #h-content h1 {
  width: 146px;
  height: 52px;
  background: url("../img/header/logo.png") no-repeat;
  text-indent: -9999px;
  float: left;
}

#footer {
  background-color: #0F0F0F;
  margin: 4px 0 15px 0;
}
#footer #f-content {
  width: 720px;
  margin: 0 auto;
  color: #AAAAAA;
}
#footer #f-content #f-logo {
  width: 92px;
  height: 16px;
  background: url("../img/footer/logo.png") no-repeat;
  text-indent: -9999px;
  float: left;
}
#footer #f-content #f-copyright {
  float: left;
  margin: 5px 0 0 20px;
  font-family: "Yu Mincho", "YuMincho", "HiraMinProN-W3", "MS PMincho", "MS Mincho", "serif";
  font-size: 60%;
}
#footer #f-content #f-tel {
  float: right;
  margin: 3px 0 0 0;
  font-family: "Yu Mincho", "YuMincho", "HiraMinProN-W3", "MS PMincho", "MS Mincho", "serif";
  font-size: 80%;
}
