html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #0F0F0F;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#fadein {
  visibility: hidden;
}

hr.style1 {
  border: 0;
  height: 1px;
  background: #1e2800;
  background-image: linear-gradient(to right, #0f0f0f, #aaaaaa, #0f0f0f);
}

.content {
  color: #AAAAAA;
  margin-bottom: 3.6em;
  font-family: "Yu Mincho", "YuMincho", "HiraMinProN-W3", "MS PMincho", "MS Mincho", "serif";
  font-size: 81%;
  line-height: 144%;
}
.content #slide {
  height: 304px;
  background: url("../img/menu/slide/1.jpg") no-repeat;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.content h1 {
  font-family: "Yu Mincho", "YuMincho", "HiraMinProN-W3", "MS PMincho", "MS Mincho", "serif";
  color: white;
  font-size: 126%;
}
.content h2 {
  font-family: "Yu Mincho", "YuMincho", "HiraMinProN-W3", "MS PMincho", "MS Mincho", "serif";
  color: white;
  font-size: 117%;
  margin-left: 9px;
}
.content .header-comment {
  font-size: 81%;
  text-align: right;
}
.content .item-header {
  color: #AAAAAA;
}
.content .menu-container {
  margin-left: 18px;
}
.content .align-right {
  text-align: right;
}
.content .note {
  color: #eb6101;
  font-size: 81%;
}
.content ul.images {
  text-align: right;
  list-style: none;
}
.content ul.images li {
  float: left;
  margin-right: 0.27em;
  margin-bottom: expression( this.parentNode.children.item(this.parentNode.children.length-1) == this ? '0':'0.5em');
}
.content ul.images li:last-of-type {
  margin-right: 0;
}
