html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #0F0F0F;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#fadein {
  visibility: hidden;
}

hr.style1 {
  border: 0;
  height: 1px;
  background: #1e2800;
  background-image: linear-gradient(to right, #0f0f0f, #aaaaaa, #0f0f0f);
}

.navi {
  margin: 18px 0 27px 0;
}

.dropmenu {
  margin-left: 13.5px;
  list-style: none;
  position: relative;
}
.dropmenu li {
  float: left;
  margin-right: 72px;
  margin-right: expression( this.parentNode.children.item(this.parentNode.children.length-1) == this ? '0':'65px');
}
.dropmenu li:last-of-type {
  margin-right: 0;
}
.dropmenu li a {
  display: block;
  line-height: 0.9;
}
.dropmenu li ul {
  position: absolute;
  visibility: hidden;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  opacity: 0;
}
.dropmenu li:hover > div {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.dropmenu li:hover ul {
  list-style: none;
  position: absolute;
  visibility: visible;
  left: 140px;
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: 1;
}
.dropmenu li:hover ul li {
  float: left;
  position: static;
  margin-right: 30px;
  margin-top: 5px;
}

.relative {
  position: relative;
}

.navi-item0 {
  width: 100px;
  height: 28.8px;
  text-indent: -9999px;
  background: url("../img/navi/about.png") no-repeat;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.navi-item0:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

.navi-item1 {
  width: 50px;
  height: 28.8px;
  text-indent: -9999px;
  background: url("../img/navi/menu.png") no-repeat;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.navi-item1:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

.navi-item2 {
  width: 82px;
  height: 28.8px;
  text-indent: -9999px;
  background: url("../img/navi/access.png") no-repeat;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.navi-item2:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

.navi-item3 {
  width: 80px;
  height: 28.8px;
  text-indent: -9999px;
  background: url("../img/navi/wedding.png") no-repeat;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.navi-item3:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

.navi-item4 {
  width: 80px;
  height: 28.8px;
  text-indent: -9999px;
  background: url("../img/navi/shop.png") no-repeat;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.navi-item4:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
