@import url(responsive.gs.16col.css);
.container {
  width: 720px;
}

.row_margin025 {
  margin-bottom: 0.25em;
}

.row_margin05 {
  margin-bottom: 0.5em;
}

.row_margin1 {
  margin-bottom: 1em;
}

.row_margin2 {
  margin-bottom: 2em;
}

.row_margin3 {
  margin-bottom: 3em;
}

.row_margin4 {
  margin-bottom: 4em;
}
