html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #0F0F0F;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#fadein {
  visibility: hidden;
}

hr.style1 {
  border: 0;
  height: 1px;
  background: #1e2800;
  background-image: linear-gradient(to right, #0f0f0f, #aaaaaa, #0f0f0f);
}

.content {
  color: white;
  margin: 0 0 50px 0;
  font-family: "Yu Mincho", "YuMincho", "HiraMinProN-W3", "MS PMincho", "MS Mincho", "serif";
  line-height: 120%;
}
.content #slide {
  height: 304px;
}
.content .thumb {
  width: 180px;
}
.content .name {
  width: 120px;
}
.content .desc {
  width: 300px;
}
.content .price {
  width: 100px;
}
.content .count {
  width: 100px;
}
.content .table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.content .table-cell-right {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.content .table-cell-left {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
.content .font-l {
  font-size: 100%;
}
.content .font-s {
  font-size: 90%;
  color: #AAAAAA;
}
.content .align-right {
  text-align: right;
}
.content hr.style2 {
  border: 0;
  height: 1px;
  background: #C0CCA9;
}
