html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

@font-face {
  font-family: "Hannari";
  src: url('../font/Hannari/Hannari.eot?1448160035');
  src: url('../font/Hannari/Hannari.eot?&1448160035#iefix') format('embedded-opentype'), url('../font/Hannari/Hannari.woff?1448160034') format('woff');
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#fadein {
  visibility: hidden;
}

hr.style1 {
  border: 0;
  height: 1px;
  background: #2E4200;
  background-image: linear-gradient(to right, #c0cca9, #2e4200, #c0cca9);
}

.content {
  color: #292929;
  margin: 0 0 50px 0;
  font-family: "Hannari";
}
.content #slide {
  height: 304px;
}
.content h2 {
  color: #000000;
  font-size: 140%;
}
.content p {
  line-height: 140%;
  font-size: 110%;
}
.content .h15em {
  line-height: 15em;
}
.content .hoge {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.content .font-m {
  font-size: 90%;
}
.content .align-right {
  text-align: right;
}
