/ ------------------------------------------------------------------
/ 十二月
/ ------------------------------------------------------------------
#menu-header
  %p 十二月　お献立

.clearfix
  #menu-left
    .row
      .one.columns
        %p 八寸
      .nine.columns
        %p
          鰻小袖寿司　山桃ワイン羮　おどり天子有馬煮　芋栗
          %br>/
          朝顔百合根　あいまぜ 鱚青海焼き
    .row
      .one.columns
        %p 吸物
      .nine.columns
        %p とろろ仕立　甘鯛むしり　オクラ　なめこ　針海苔　山葵
    .row
      .one.columns
        %p 造り
      .nine.columns
        %p
          鯛　鯒　海老　大葉　芽紫蘇　人参　蓮芋　大根剣
          %br>/
          花穂紫蘇　山葵
    .row
      .one.columns
        %p 煮物
      .nine.columns
        %p 養老海老　木の葉南京　管牛蒡　水玉冬瓜　蓮根　柚子
    .row
      .one.columns
        %p 焼物
      .nine.columns
        %p
          鱧八幡巻　粟麩味噌焼　はじかみ 油　物　鮎湯葉粉揚
          %br>/
          椎茸　青唐　紅葉おろし　煎り出汁
    .row
      .one.columns
        %p 酢物
      .nine.columns
        %p 野菜と魚の加減酢仕立て
    .row
      .one.columns
        %p 止椀
      .nine.columns
        %p 赤出し仕立て　小巻湯葉　三つ葉細々　粉山椒
    .row
      .one.columns
        %p 御飯
      .nine.columns
        %p 新蓮根御飯
    .row
      .one.columns
        %p 果物
      .nine.columns
        %p メロン
  #menu-right
    %ul
      %li
        %img{alt: "メニュー", src: "img/menu/spring/1.jpg"}
      %li
        %img{alt: "メニュー", src: "img/menu/spring/2.jpg"}
      %li
        %img{alt: "メニュー", src: "img/menu/spring/3.jpg"}


/ ------------------------------------------------------------------
/ 一月
/ ------------------------------------------------------------------
#menu-header
  %p 一月　お献立

.clearfix
  #menu-left
    .row
      .one.columns
        %p 八寸
      .nine.columns
        %p
          鰻小袖寿司　山桃ワイン羮　おどり天子有馬煮　芋栗
          %br>/
          朝顔百合根　あいまぜ 鱚青海焼き
    .row
      .one.columns
        %p 吸物
      .nine.columns
        %p とろろ仕立　甘鯛むしり　オクラ　なめこ　針海苔　山葵
    .row
      .one.columns
        %p 造り
      .nine.columns
        %p
          鯛　鯒　海老　大葉　芽紫蘇　人参　蓮芋　大根剣
          %br>/
          花穂紫蘇　山葵
    .row
      .one.columns
        %p 煮物
      .nine.columns
        %p 養老海老　木の葉南京　管牛蒡　水玉冬瓜　蓮根　柚子
    .row
      .one.columns
        %p 焼物
      .nine.columns
        %p
          鱧八幡巻　粟麩味噌焼　はじかみ 油　物　鮎湯葉粉揚
          %br>/
          椎茸　青唐　紅葉おろし　煎り出汁
    .row
      .one.columns
        %p 酢物
      .nine.columns
        %p 野菜と魚の加減酢仕立て
    .row
      .one.columns
        %p 止椀
      .nine.columns
        %p 赤出し仕立て　小巻湯葉　三つ葉細々　粉山椒
    .row
      .one.columns
        %p 御飯
      .nine.columns
        %p 新蓮根御飯
    .row
      .one.columns
        %p 果物
      .nine.columns
        %p メロン
  #menu-right
    %ul
      %li
        %img{alt: "メニュー", src: "img/menu/spring/1.jpg"}
      %li
        %img{alt: "メニュー", src: "img/menu/spring/2.jpg"}
      %li
        %img{alt: "メニュー", src: "img/menu/spring/3.jpg"}


/ ------------------------------------------------------------------
/ 二月
/ ------------------------------------------------------------------
#menu-header
  %p 二月　お献立

.clearfix
  #menu-left
    .row
      .one.columns
        %p 八寸
      .nine.columns
        %p
          鰻小袖寿司　山桃ワイン羮　おどり天子有馬煮　芋栗
          %br>/
          朝顔百合根　あいまぜ 鱚青海焼き
    .row
      .one.columns
        %p 吸物
      .nine.columns
        %p とろろ仕立　甘鯛むしり　オクラ　なめこ　針海苔　山葵
    .row
      .one.columns
        %p 造り
      .nine.columns
        %p
          鯛　鯒　海老　大葉　芽紫蘇　人参　蓮芋　大根剣
          %br>/
          花穂紫蘇　山葵
    .row
      .one.columns
        %p 煮物
      .nine.columns
        %p 養老海老　木の葉南京　管牛蒡　水玉冬瓜　蓮根　柚子
    .row
      .one.columns
        %p 焼物
      .nine.columns
        %p
          鱧八幡巻　粟麩味噌焼　はじかみ 油　物　鮎湯葉粉揚
          %br>/
          椎茸　青唐　紅葉おろし　煎り出汁
    .row
      .one.columns
        %p 酢物
      .nine.columns
        %p 野菜と魚の加減酢仕立て
    .row
      .one.columns
        %p 止椀
      .nine.columns
        %p 赤出し仕立て　小巻湯葉　三つ葉細々　粉山椒
    .row
      .one.columns
        %p 御飯
      .nine.columns
        %p 新蓮根御飯
    .row
      .one.columns
        %p 果物
      .nine.columns
        %p メロン
  #menu-right
    %ul
      %li
        %img{alt: "メニュー", src: "img/menu/spring/1.jpg"}
      %li
        %img{alt: "メニュー", src: "img/menu/spring/2.jpg"}
      %li
        %img{alt: "メニュー", src: "img/menu/spring/3.jpg"}
