!!! 5

%meta{charset: "UTF-8"}
%title たけのこ会席 錦水亭

/ jQuery 
%script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}

/ Resposive.gs
%link{rel: "stylesheet", href: "css/responsive.gs.16col.ex.css"}
%script{src: "js/respond.min.js"}

/ easy slider
%script{src: "js/jquery.easyslides.custom.min.v1.1.js"}
%link{rel: "stylesheet", href: "css/easySlides.default.min.css"}

/ Lightbox
%script{src: "js/lightbox.min.js"}
%link{rel:"stylesheet", href: "css/lightbox.css"}

/ common css
%link{rel: "stylesheet", href: "css/header.css"}
%link{rel: "stylesheet", href: "css/navi.css"}
