#header
  #h-content
    %a{href: "index.html"}
      %h1 錦水亭
/    %ul#h-navi.clearfix
/      #f-tel
/        %h2 TEL. 075-951-5151
/      %li
/        %a{href: "./"}
/          %h3#h-contact お問い合せ
/      %li
/        %a{href: "./"}
/          %h3#h-sitemap サイトマップ