.navi
  %ul.clearfix.dropmenu.dropmenu-fade
    %li
      %a{href: "about.html"}
        .navi-item0 錦水亭
    %li
      %a{href: "menu.html"}
        .navi-item1 おしながき
    %li
      %a{href: "access.html"}
        .navi-item2 ごあんない
    %li
      %a{href: "wedding.html"}
        .navi-item3 結婚披露宴
    %li
      %a{href: "shop.html"}
        .navi-item4 佃煮お取り寄せ
